﻿<html lang="en">
    <head>
        <title>Bookish</title>
        <link href="/site.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
        </head>
    <body>
        <header> 
            <nav>
                <!-- <h1 class="logo">Bookish</h1> -->
                <a href="/">Home</a>
                <a href="/book">Books List</a>
                <a href="/book/manage">Manage Books</a>
                <a href="/member">Members List</a>
                <a href="/member/manage">Manage Members</a>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %} 
        </main>
    </body>
</html>