{% extends "_base.html" %}

{% block content %}
<h1>Deleted</h1>
<span>

    <table>
        <tr>
            <th>
                <button class="button">
                <a href="/book" class="deleted">
                    Back to books
                </a>
            </button>
            </th>
            <th>
                <button class="button">
                <a href="/member" class="deleted">
                    Back to members
                </a>
            </button>
            </th>
    </table>

</span>
{% endblock %}
